:root {
  --drkbwn: #201812;
  --drkbwnbrd: #493f33;
  --palebwn: #a89679;
  --plbwnbrd: #7f7168;
  --sandbwn: #7c6e62;
  --sandbwnbdr: #84776f;
  --gold: #e9d27c;
  --palegold: #b3a476;
  /* #665142; */
  --brown: #3a2b20;
  --nearblack: #100800;

  --partialFill: 80%;
  --roundCorners: 10px;

  --expBar: 0
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "fangsong", serif;
  color: #eee;
  background: linear-gradient(150deg, black 10%, var(--drkbwn) 95%);
}

#container {
  height: 100vh;
  width: 100vw;
  min-width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  padding-left: 10px;
}

.bubble-head {
  border: solid 1px var(--plbwnbrd);
  border-bottom: solid 1px #060606;
  background: linear-gradient(180deg, var(--brown) 40%, var(--drkbwn) 80%, var(--nearblack));
}

.nav-btn {
  height: 50px;
  width: 50px;
  margin: 5px;
  float: left;
  border-radius: 2px;
  background-color: var(--palegold);
  border: var(--gold) outset 6px;
}

.nav-btn i {
  color: #f3e9cd;
  margin: 3px;
  font-size: 2em;
}

#login-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: auto;
  border: 4px var(--gold) outset;
  background-color: var(--palegold);
  padding: 4px 6px;
  font-size: 1.1rem;
}

#main-field {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-gap: 10px;
  min-height: fit-content;
  height: 70%;
  grid-template-rows: 100%;
}

.main-module {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  background-color: var(--nearblack);
  border: ridge 10px var(--drkbwnbrd);
  border-radius: 4px;
  padding: 3px;
  row-gap: 2px;
}

.main-module > div {
  border-radius: 6px;
  margin: 0;
}

.module-head {
  border: var(--drkbwnbrd) outset 4px;
  border-right: var(--sandbwnbdr) outset 4px;
  background: linear-gradient(180deg, var(--nearblack), var(--drkbwn));
  text-align: center;
  min-height: 30px;
  padding: 4px;
  width: 100%;
  color: var(--gold);
}

.module-head > h2 {
  color: var(--gold);
}

h3 {
  color: var(--gold);
  font-weight: 500;
  font-size: 1.5rem;
}

.inner-body {
  background-color: var(--sandbwn);
  border: var(--sandbwnbdr) inset 6px;
  box-sizing: border-box;
  height: 90%;
  width: 100%;
  padding: 10px;
  flex-grow: 1;
}

.inner-body > div {
  min-height: 50px;
  min-width: 50px;
  width: 100%;
  height: 100%;
  background-color: var(--palegold);
  border: 3px var(--gold) outset;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-body > div > * {
  margin: 3px;
}

.flat-box {
  width: auto;
  background-color: var(--brown);
  border: solid #060606 1px;
  flex-grow: 1;
}

#profile h3 {
  font-size: 1.2rem;
}

#profile p {
  font-size: 1.3rem;
}

#profile-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.name-photo {
  display: grid;
  grid-template-columns: 50% 1fr;
}

/* .name-photo:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: 100%;
} */

#level {
  font-size: 2em;
  font-weight: 600;
}

#exp-bar {
  height: 30px;
  width: 200px;
  background: linear-gradient(#060606 20%, #333 80%, #aaa);
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

#exp-fill {
  display: block;
  background-color: green;
  background: linear-gradient(#6a6, green, #6c0 90%);
  border-radius: 6px;
  height: 100%;
  width: var(--expBar);
  position: relative;
  border-right: 3px solid #050;
}

/* #exp-fill:after {
  content: "";
  position: absolute;
  top: 2px;
  width: var(--expBar);
  border: 3px solid rgba(255, 255, 255, .7);
  border-radius: 50%;
  opacity: 0.7;
  box-shadow: 0 1px 3px rgba(255, 255, 255, .8), 0 2px 6px rgba(255, 255, 255, .8), 0 3px 9px rgba(255, 255, 255, .8);
} */

#current-task {
  font-size: 1.2em;
  margin: 10px;
  padding: 12px;
}

#habit-list {
  border: #060606 solid 2px;
  background: linear-gradient(160deg, var(--drkbwn), var(--nearblack));
  margin: 0;
  margin-top: 3px;
  flex-grow: 1;
  overflow-y: auto;
}

.habit-tab {
  color: var(--gold);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 4px 14px;
}

hr {
  border: rgba(75,75,75,.7) 1px solid;
  border-radius: 50%;
}

input[type=text] {
  height: 40px;
  background-color: #060606;
  border: outset 3px var(--gold);
  margin-right: 4px;
  color: #eee;
  font-weight: 400;
  padding: 0 4px;
  flex-grow: 1;
}

::placeholder {
  color: #666;
  font-weight: 700;
}

/* Button */

.gem-btn {
  position: relative;
  color: #eee;
  height: 40px;
  width: auto;
  min-width: 30px;
  padding: 0 15px;
  background-color: red;
  background: linear-gradient(#100, #f00 90%, #500);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  border-radius: 10px;
  border: var(--gold) ridge 6px;
  font-family: inherit;
}

.gem-btn:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: solid #060606 1px;
  border-radius: 5px;
}

.gem-btn:after {
  content: "";
  position: absolute;
  top: 2px;
  width: 80%;
  border: 3px solid rgba(255, 255, 255, .7);
  border-radius: 50%;
  opacity: 0.4;
  box-shadow: 0 1px 3px 1px rgba(255, 255, 255, .3), 0 1px 3px 2px rgba(255, 255, 255, .3), 0 1px 3px 3px rgba(255, 255, 255, .3);
}

.gem-btn:hover {
  background: linear-gradient(#f00 90%, #500);
  box-shadow: 0 0 10px rgba(255, 0, 0, .5), 0 0 20px rgba(255, 0, 0, .5), 0 0 30px rgba(255, 0, 0, .5);
}

.gem-btn:active {
  background: linear-gradient(#100, #500);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--palegold);
  border-radius: 3px;
  border: inset 1px var(--sandbwnbdr);
}
 
::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 3px;
  border: outset 3px var(--gold);
}

/* Modals */

.modal-div * {
  margin: 5px;
}

#todo-list {
  margin: 10px;
}

.todo-item-controls {
  color: var(--color3);
  display: flex;
  margin-left: 20px;
}

.todo-item-controls i {
  padding: 4px;
}

.todo-item-controls i:hover {
  color: white;
  background-color: black;
  border-radius: 50%;
}

.instructions {
  font-size: 1.5rem;
  margin: 6px;
  color: var(--gold);
}

.choose-file-btn {
  border: 1px solid black;
  padding: 10px 15px;
  background: linear-gradient(180deg, var(--brown) 40%, var(--drkbwn) 80%, var(--nearblack));
  width: fit-content;
  border-radius: 5px;
}

#avatar {
  display: none;
}

#image-select-status {
  font-family: Helvetica;
  font-size: .8em;
}

#values-grid {
  max-width: 50vw;
  margin: 12px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 200px));
}

#new-user-form > * {
  margin: 10px;
}


/* General Use */

.clickable {
  cursor: pointer;
}

.break {
  clear: both;
}

.vertical-align {
  display: flex;
  align-items: center;
}

/* Tool-tip */

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  font-family: Arial;
  font-weight: normal;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}