/* #App {
  height: 100px;
  width: 100px;
  background-color: aqua;
} */

:root {
  --color1: #eee;
  --color2: #cce;
  --color3: orange;

  --partialFill: 80%;

  --roundCorners: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--color2);
  padding-left: 10px;
}

.nav-btn {
  height: 40px;
  width: 40px;
  margin: 5px;
  float: left;
  border-radius: 10px;
  background-color: var(--color3);
}

#login-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: auto;
  border: 1px black solid;
  background-color: var(--color3);
  padding: 3px;
}

#main-field {
  width: var(--partialFill);
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 50px;
}

.main-module {
  height: 700px;
  width: auto;
  background-color: var(--color1);
  margin: 20px;
  flex-grow: 1;
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 10px;
}

#to-do {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#to-do > div {
  background-color: var(--color2);
  border-radius: var(--roundCorners);
}

#user-hud {
  padding: 20px;
  width: var(--partialFill);
}

#profile {
  margin-bottom: 10px;
}

#profile-photo {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  /* margin: 10px; */
  float: left;
}

#exp-bar {
  height: 30px;
  width: var(--partialFill);
  background-color: #666;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

#exp-fill {
  display: block;
  background-color: green;
  height: 100%;
  width: 45%;
}

#quest-log-hud {
  height: 100px;
  width: var(--partialFill);
}

#habit-grind {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#habit-list {
  max-height: 80%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: #ccc solid 1px;
  border-radius: var(--roundCorners);
}

.habit-tab {
  margin: 10px 20px;
  width: auto;
  border-radius: 10px;
  border: solid black 1px;
  background-color: var(--color2);
  text-align: center;
  padding: 12px;
}


/* General Use */

.clickable {
  cursor: pointer;
}

.break {
  clear: both;
}
