/* #App {
  height: 100px;
  width: 100px;
  background-color: aqua;
} */

:root {
  --color1: #eee;
  --color2: #cce;
  --color3: orange;

  --partialFill: 80%;
  --roundCorners: 10px;

  --expBar: 0
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
}

#container {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--color2);
  padding-left: 10px;
}

.nav-btn {
  height: 40px;
  width: 40px;
  margin: 5px;
  float: left;
  border-radius: 10px;
  background-color: var(--color3);
}

.nav-btn i {
  color: white;
  margin: 3px;
  font-size: 2em;
}

#login-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: auto;
  border: 1px black solid;
  background-color: var(--color3);
  padding: 3px;
}

#main-field {
  width: var(--partialFill);
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 50px;
}

.main-module {
  height: 700px;
  width: auto;
  background-color: var(--color1);
  margin: 20px;
  flex-grow: 1;
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 10px;
}

#to-do {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 45%;
}

#to-do > div {
  background-color: var(--color2);
  border-radius: var(--roundCorners);
}

#user-hud {
  padding: 20px;
  width: var(--partialFill);
}

#profile {
  margin-bottom: 10px;
}


/* display: flex;
flex-direction: column;
justify-content: space-evenly; */

#profile-photo {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  /* margin: 10px; */
  float: left;
  margin-right: 10px;
  overflow: hidden;
}

#profile-photo img {
  object-fit: contain;
}

.level {
  font-size: 2em;
  font-weight: 600;
}

#exp-bar {
  height: 30px;
  width: var(--partialFill);
  background-color: #666;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

#exp-fill {
  display: block;
  background-color: green;
  height: 100%;
  width: var(--expBar);
}

#quest-log-hud {
  height: auto;
  padding: 10px;
  width: var(--partialFill);
}

#quest-log-hud p{
  margin: auto;
}

.current-task {
  padding: 5px;
  background-color: var(--color1);
  border-radius: var(--roundCorners);
  height: auto;
  margin: 3px;
}

.current-task span {
  font-size: 1.8em;
}

#add-task {
  justify-content: space-between;
  margin: 3px;
}

.text-box {
  height: 25px;
  flex-grow: 1;
  min-width: 100px;
}

.add-task-btn {
	box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color: #3d94f6;
	border-radius: 6px;
	border: 1px solid #337fed;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	padding: 0 6px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #1570cd;
}
.add-task-btn:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}

#habit-grind {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#add-habit {
  border-top: #ccc solid 1px;
  padding: 6px 20px;
  max-width: 50%;
  margin: auto;
}

#habit-list {
  max-height: 80%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow-y: scroll;
}

.habit-tab {
  margin: 10px 20px;
  width: auto;
  border-radius: 10px;
  border: solid black 1px;
  background-color: var(--color2);
  text-align: center;
  padding: 12px 16px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}

/* Modals */

.modal-div * {
  margin: 5px;
}

#todo-list {
  margin: 10px;
}

.todo-item-controls {
  color: var(--color3);
  display: flex;
  margin-left: 20px;
}

.todo-item-controls i {
  padding: 4px;
}

.todo-item-controls i:hover {
  color: white;
  background-color: black;
  border-radius: 50%;
}


/* General Use */

.clickable {
  cursor: pointer;
}

.break {
  clear: both;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.light-border {
  border: #ccc solid 1px;
  border-radius: var(--roundCorners);
}

/* Tool-tip */

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  font-family: Arial;
  font-weight: normal;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}